.tr-line{

color:#ffffff !important;
font-size:0.9em !important;
font-weight:bold;
text-shadow:
1px 1px 2px #000,
-1px -1px 2px #000;

}

.romaji-line{

color:#FFD700 !important;
font-size:0.8em !important;
font-weight:bold;
font-style:italic;
text-shadow:
1px 1px 2px #000,
-1px -1px 2px #000;

}